Files: new directory <>< mkdir {dir name}
Git: Stage All <>< git add -A
Git: Commit <>< git commit -m "{commit message here}"
Git: Show Repo Status <>< git status
Pacman: List All Installed Packages <>< pacman -Q
Pacman: Search In Installed Packages <>< pacman -Q | fzf
Pacman: Install Package <>< sudo pacman -Syu {package name here}
Pacman: Search for a package <>< pacman -Ss {package name here}
Log: Show Kernel log (dmesg)<>< sudo journalctl -k
List directory <>< ls -a
Rust: New Project <>< cargo new {project name}
Rust: Build <>< cargo build
Rust: Run <>< cargo run


