Fish: add to path <>< fish_add_path {path}
Files: new directory <>< mkdir {dir name}
Git: Stage All <>< git add -A
Git: Commit <>< git commit -m "{commit message here}"
Git: Show Repo Status <>< git status
Pacman: List All Installed Packages <>< pacman -Q
Pacman: Search In Installed Packages <>< pacman -Q | fzf
Pacman: Install Package <>< sudo pacman -Syu {package name here}
Pacman: Search for a package <>< pacman -Ss {package name here}
Log: Show Kernel log (dmesg) <>< sudo journalctl -k
List directory <>< ls -a
Rust: New Project <>< cargo new {project name}
Rust: Build <>< cargo build
Rust: Run <>< cargo run
Rust: Update Rust <>< rustup update
Docker: Pull down an Image to local machine <>< docker pull {image}
Docker: List Images <>< docker images
Docker: Run an Image <>< docker run {image}
Docker: List running containers <>< docker ps
Docker: List all containers <>< docker ps -a
Docker: Run container in detached mode <>< run -p {host port}:{container port} -d -n {name of container} -e {env variable name}={env variable value} -e {k}={v}
Docker: Start a stopped container <>< docker start {container id}
Docker: View container logs <>< docker logs {container id or name}
Docker: Execute bash command in container interactive terminal <>< docker exec -it {container id} /bin/bash
Docker Compose: Start all containers in a docker compose file <>< docker-compose -f {compose file path} up
Unimatrix: Rain in blue <>< unimatrix -c blue
Unimatrix: Rain in emoji <>< unimatrix -l 'e'
Dfinity: Create new project <>< dfx new {project name} --type rust
Dfinity: Start execution environment (Running IC locally) <>< dfx start
Dfinity: Deploy app to local IC <>< dfx deploy
Dfinity: Call function in canister <>< dfx canister call {canister name} {function name} {function param}
